lmp_mpi
*.dat
*.out
*.o
*.mod
exec
*.pdf
*.mat
*.avi
*.m~
ContactLine.ipynb
.ipynb_checkpoints/ContactLine-checkpoints.ipynb
ContactLine_tank.ipynb
.ipynb_checkpoints/ContactLine_tank-checkpoints.ipynb
.ipynb_checkpoints/*
left_bins.npy
right_bins.npy
*.nc
*.png
*.npy
*.id
*.surften_vlv
*.svg
*.docx

Report.aux
Report.blg
Report.synctex.gz
Report.bbl
ReportNotes.bib
Report.log
